mystery_xml/mystery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation xml:lang="en">
     Plot generation schema (http://www.gregorydoran.co.uk).
     Copyright 2010 Gregory Doran. All rights reserved.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="plot" type="PlotType" />

  <xs:complexType name="PlotType">
    <xs:sequence>
      <xs:element name="desisions" type="DesisionsType"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="DesisionsType">
    <xs:sequence>
      <xs:element name="desision" minOccurs="1" maxOccurs="unbounded" type="DesisionType" />
    </xs:sequence>    
  </xs:complexType>

  <xs:complexType name="DesisionType">
    <xs:sequence>
      <xs:element name="english" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="options" type="OptionsType" minOccurs="1" maxOccurs="1" />
    </xs:sequence>    
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="OptionsType">
    <xs:sequence>
      <xs:element name="option" minOccurs="1" maxOccurs="unbounded" type="OptionType" />
    </xs:sequence>    
  </xs:complexType>

  <xs:complexType name="OptionType">
    <xs:sequence>
      <xs:element name="english" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="
      <xs:element name="desisions" type="DesisionsType" minOccurs="0" maxOccurs="1" />
    </xs:sequence>    
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="










  <xs:complexType name="USAddress">
    <xs:sequence>
      <xs:element name="name"   type="xs:string"/>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="city"   type="xs:string"/>
      <xs:element name="state"  type="xs:string"/>
      <xs:element name="zip"    type="xs:decimal"/>
    </xs:sequence>
    <xs:attribute name="country" type="xs:NMTOKEN"
                   fixed="US"/>
  </xs:complexType>

  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="productName" type="xs:string"/>
            <xs:element name="quantity">
              <xs:simpleType>
                <xs:restriction base="xs:positiveInteger">
                  <xs:maxExclusive value="100"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="USPrice"  type="xs:decimal"/>
            <xs:element ref="comment"   minOccurs="0"/>
            <xs:element name="shipDate" type="xs:date" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="partNum" type="SKU" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Stock Keeping Unit, a code for identifying products -->
  <xs:simpleType name="SKU">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{3}-[A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>

